<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.smt.mapper.AccountMapper">
    <insert id="insert">
        insert into t_act (id, act_no, balance) values (#{id}, #{actNo}, #{balance})
    </insert>
</mapper>